// Fuentes
$fuente-principal: "Poppins",sans-serif;//'Outfit', sans-serif;
$fuente-secundaria: 'Ubuntu', sans-serif;
$fuente-adicional: 'Concert One', cursive;
// Tamaño de Media Queries
$telefonomini: 425px;
$telefono: 480px;
$telefonom: 525px;
$telefonol: 570px;
$telefonoxl: 633px;
$tablet: 768px;
$tabletl: 820px; 
$tabletm: 880px;
$xl_tablet: 992px;
$desktop: 1024px;
$xl_desktop: 1200px;
$xxl_desktop: 1550px;

// Colores
/*
$barprogress: rgb(240, 101, 72);
$rojo: #ff0000;
$rosa: #d2095d;
$verde1: #02db02;
$verde2:#329f00;
$verdeclaro: #d3f800;
$azul: #007df4;
$azul1: #0da6f3;
$azul2: #3d72fc;
$azul3: #3564db;
$azul4: #0043ed;
$azul10: #e3e9fc;
$azulclaro: #eff2f7;
$azuloscuro: #051453; 
$sidebar2: #064CDB;
$sidebar3: #30419b; //utilizado en el sidebar
$sidebar4: #244f96;
$iconos: #7081b9; 
$secundario: #00c8c2;
$blackdark: #000;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$grisclaro: #e1e1e1;
$griswhite: #F3F3F3;
$grisraton: #a5a5a5;
$grisoscuro: #585858;
$grisblack: #2a2d30;

*/

$backdrop: rgba(0, 0, 0, .40);

//////////////////
$cyan: #0891B2;
$indigo: #4338CA;
$morado: #7C3AED;

$azul100: #051453;
$azul90: #062b88;
$azul80: #0739b9;
$azul70: #0043ed;
$azul60: #2563EB;
$azul50: #3d72fc;
$azul40: #007df4;
$azul30: #0da6f3;
$azul20: #a2d1ee;
$azul10: #e3e9fc;
$azul0: #eff2f7;

$naranja100: rgb(240, 101, 72);
$naranja90:#f5690b;
$naranja80:#f57c0b;
$naranja70:#f5900b;
$naranja60:#F59E0B;
$naranja50:#f1a82a;
$naranja40:#f3b54b;
$naranja30:#eebe6b;
$naranja20:#f5d08f;
$naranja10:#ffe3b3;

$rosa: #DB2777;


$negro100: #000;
$negro90: #1a1b15;
$gris80: #3f4346;
$gris70: #49515c;
$gris60: #6b7280;
$gris50: #78808a;
$gris40: #979ea7;
$gris30: #c0c5ca;
$gris20: #e1e1e1;
$gris10: #F3F3F3;
$blanco: #FFFFFF;

$rojo100: #960707;
$rojo90: rgb(169, 0, 0);
$rojo80: #c40e0e;
$rojo70: #d80101;
$rojo60: #ff0000;
$rojo50: #ff2b2b;
$rojo40: #ff4848;
$rojo30: #fd6459;
$rojo20: #ff6f6a;
$rojo10: #ff8b8b;

$verde100: rgb(10, 78, 10);
$verde90: rgb(8, 100, 8);
$verde80: rgb(4, 124, 4);
$verde70: rgb(9, 146, 9);
$verde60:#02a710;
$verde50:#22bd2f;
$verde40:#48c953;
$verde30:#6fd678;
$verde20:#8ee095;
$verde10:#c0ecc4;

$lima: #02db02;
$turquesa: #00c8c2;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;